/*************************************************
 PAGE BASELINES
 ************************************************/

.openPage {
    --serifFont: adobe-clean-serif, 'Source Serif Pro', Georgia, serif;
    max-width: 100%;
    overflow-x: hidden;
    background: #ffffff;
}

@media screen and (min-width: 1280px) {
    .openPage {
        padding-top: 64px;
    }
}

/*************************************************
 TYPOGRAPHY 
 ************************************************/

.openPage-sectionHeader {
    font-family: var(--serifFont);
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 33px;
    font-weight: 900;
    line-height: 1.4;
}

.spectrum--dark .openPage-sectionHeader {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .openPage-sectionHeader {
        font-size: 45px;
        font-weight: 700;
    }
}

/*************************************************
 CAROUSEL 
 ************************************************/

.openPage-carouselUI-nextBtn,
.openPage-carouselUI-prevBtn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    position: relative;
}

.openPage-carouselUI-nextBtn:before,
.openPage-carouselUI-prevBtn:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.461' height='22.67' viewBox='0 0 13.461 22.67' %3E%3Cpath id='Shape' d='M12.921,19.632l0,0-8.6-8.294,8.6-8.293,0,0A1.766,1.766,0,1,0,10.47.494l0,0-.023.022h0l-9.9,9.546,0,0a1.753,1.753,0,0,0,0,2.543l0,0,9.9,9.544,0,0,.021.02,0,0a1.766,1.766,0,1,0,2.452-2.543Z' transform='translate3d(0 0)' fill='%23fff'/%3E%3C/svg%3E");
    background-size: 10px 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.openPage-carouselUI-nextBtn:before {
    transform: rotate(180deg);
}

@media screen and (min-width: 768px) {

    .openPage-carouselUI-nextBtn,
    .openPage-carouselUI-prevBtn {
        height: 56px;
        width: 56px;
    }

    .openPage-carouselUI-nextBtn:before,
    .openPage-carouselUI-prevBtn:before {
        background-size: 14px 22px;
    }
}

.openPage-carouselUI-itemCount {
    font-size: 14px;
    color: #fff;
}

.openPage-carouselUI-indicators {
    display: flex;
    flex-direction: row;
}

.openPage-carouselUI-indicators>* {
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid #EFEFEF;
    border-radius: 50%;
}

.openPage-carouselUI-indicators>*+* {
    margin-left: 8px;
}

.openPage-carouselUI-indicators .selected {
    background: #EFEFEF;
}


/*************************************************
 HERO UNIT
 ************************************************/

.openPage-hero {
    color: #2D2D2D;
    background: #fff;
}

@media screen and (max-width: 1079px) {
    .openPage-hero.spectrum-grid {
        max-width: 680px;
    }
}

.openPage-hero-activity {
    grid-column: 1/13;
    grid-row: 1/2;
    max-height: 768px;
    overflow: hidden;
}

.openPage-hero-content {
    grid-column: 1/13;
    grid-row: 1/2;
    padding-top: 100px;
    padding-bottom: 80px;
    margin-top: 60px;
    align-self: end;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
}

.openPage-hero-content-title {
    font-size: 36px;
    line-height: 1.3;
    font-weight: 700;
    margin: 0 0 8px 0;
    color: #323232;
}

@media screen and (min-width: 1080px) {
    .openPage-hero-content-title {
        font-size: 58px;
    }
}

.openPage-hero-content-subtitle {
    font-size: 19px;
    font-weight: 500;
    color: #4B4B4B;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .openPage-hero-content-subtitle {
        font-size: 20;
        font-weight: 400;
    }
}

.openPage-hero-content-body {
    max-width: 52ch;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 24px 0;
}

@media screen and (min-width: 768px) {
    .openPage-hero-content-body {
        font-size: 25px;
        font-weight: 400;
    }
}

.openPage-hero-content-ctas>* {
    vertical-align: middle;
}

.openPage-hero-content-ghLogo {
    display: inline-block;
    margin-right: 8px;
}

.openPage-hero-content-ghLogo .spectrum-Icon--sizeM {
    width: 36px;
    height: 36px;
    vertical-align: middle;
}

@media screen and (max-width: 900px) {
    .openPage-hero-content-ghLogo .spectrum-Icon--sizeM {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 768px) {
    .openPage-hero-content-title {
        font-size: 48px;
    }
}

@media screen and (min-width: 1080px) {

    .openPage-hero {
        margin: 32px auto;
        padding: 16px;
        padding: var(--spectrum-grid-outer-padding);
    }

    .openPage-hero-activity {
        grid-column: 1/6;
    }

    .openPage-hero-activity svg {
        opacity: 1.0;
    }

    .openPage-hero-content {
        grid-column: 7/13;
        padding: 10% 0 0 0;
        margin: 0;
        align-self: flex-start;
    }

    .openPage-hero-content-title {
        font-size: 50px;
        font-weight: 600;
        margin: 0 0 8px 0;
    }

    .openPage-hero-content-ghLogo svg {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .openPage-hero-activity {
        grid-column: 1/6;
    }

    .openPage-hero-content {
        /* grid-column: 7/13; */
    }

    .openPage-hero-contentTitle {
        font-size: 60px;
    }
}

/*************************************************
 ORIENTATION UNIT
 ************************************************/

.openPage-orientation {
    position: relative;
    justify-content: center;
    z-index: 1;
    max-width: 1600px;
    margin: 0 auto;
}

@media screen and (min-width: 1280px) {
    .openPage-orientation {
        margin-top: -80px;
        margin-bottom: -100px;
    }
}

.openPage-orientation-backgroundEffects {
    position: absolute;
    width: 540px;
    height: 540px;
    top: -190px;
    right: -200px;
    overflow: hidden;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='747.73' height='747.73'%3E%3Cpath data-name='Path 35963' d='M128.3 373.86c-.01-171.05 138.66-309.72 309.71-309.7v146.56a163.14 163.14 0 0 0 0 326.29v146.57c-171.05 0-309.72-138.66-309.71-309.72z' fill='%23f2f2f2'/%3E%3Cg data-name='circle'%3E%3Cpath data-name='Path 35964' d='M275.55 374.88a163.27 163.27 0 0 1 326.54-.01h-98.63a64.64 64.64 0 0 0-129.27 0z' fill='%23cacaca'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

@media screen and (min-width: 1280px) {
    .openPage-orientation-backgroundEffects {
        width: 740px;
        height: 740px;
        top: -240px;
        right: -400px;
    }
}

.openPage-orientation-grid {
    position: relative;
}


/*************************************************
 TESTIMONIAL
 ************************************************/

.openPage-testimonial {
    grid-column: 1/13;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 60px auto;
    padding-left: 24px;
    padding-right: 24px;
    background: transparent;
}

@media screen and (min-width: 768px) {
    .openPage-testimonial {
        grid-column: 3/12;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 80px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 1280px) {
    .openPage-testimonial {
        grid-column: 2/9;
        flex-direction: row;
        margin-top: -210px;
    }
}

@media screen and (min-width: 1600px) {
    .openPage-testimonial {
        grid-column: 2/8;
    }
}

.openPage-testimonial-attribution {
    font-size: 16px;
    color: #999999;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    margin-left: 60px;
    position: relative;
}

.openPage-testimonial-attributionTitle {
    padding-top: 16px;
    line-height: 1.2;
}

.openPage-testimonial-attributionAvatar {
    position: relative;
    max-width: 75px;
    max-height: 75px;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .openPage-testimonial-attribution {
        padding-right: 16px;
        flex-direction: column;
        margin-left: 0;
    }

    .openPage-testimonial-attributionTitle {
        max-width: 13ch;
    }
}

.openPage-testimonial-attribution:before {
    font-family: var(--serifFont);
    content: '“';
    font-size: 154px;
    font-weight: 800;
    color: #D6D6D6;
    position: absolute;
    top: -60px;
    left: -100px;
    z-index: 0;
}

@media screen and (min-width: 768px) {
    .openPage-testimonial-attribution:before {
        top: -60px;
        left: -110px;
    }
}

.openPage-testimonial-avatar {
    max-width: 100%;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .openPage-testimonial-avatar {}
}

.openPage-testimonial-quote {
    margin: 0 auto;
    font-size: 21px;
    font-weight: 200;
    color: #323232;
    font-style: italic;
    flex-grow: 1;
}

.openPage-testimonial-quote h1,
.openPage-testimonial-quote p {
    margin-top: 0;
    margin-bottom: 0;
}

.openPage-testimonial-quote h1 {
    font-family: var(--serifFont);
    font-weight: 500;
    max-width: 32ch;
    margin-bottom: 8px;
}

.openPage-testimonial-quote p {
    font-weight: 400;
    max-width: 48ch;
    font-size: 22px;
    color: #4B4B4B;
}

@media screen and (min-width: 768px) {
    .openPage-testimonial-quote {
        margin-top: 150px;
    }

    .openPage-testimonial-quote h1 {
        line-height: 1.3;
        font-size: 40px;
    }

    .openPage-testimonial-quote p {
        font-size: 25px;
        line-height: 1.3;
    }
}

@media screen and (min-width: 1600px) {
    .openPage-testimonial-quote h1 {
        font-size: 45px;
        max-width: 34ch;
    }
}


/*************************************************
 GETTING STARTED UNIT
 ************************************************/

.openPage-gettingStarted {
    grid-column: 1/13;
    grid-row: 1/2;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.openPage-gettingStarted-intro {
    font-size: 24px;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .openPage-gettingStarted {
        grid-column: 3/11;
    }

    .openPage-gettingStarted-intro {
        font-weight: 400;
    }
}

.openPage-gettingStarted-documents {
    margin: 16px 0;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}

.openPage-gettingStarted-coachmark {
    position: absolute;
    top: 0;
    right: 0;
}

.openPage-gettingStarted-document {
    width: 50%;
    max-width: 150px;
    padding: 15px;
    border: 2px solid #707070;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .openPage-gettingStarted-document {
        max-width: 195px;
        height: 250px;
    }
}

.openPage-gettingStarted-document:before {
    content: '';
    position: absolute;
    border-top: 3px solid #858585;
    top: 15px;
    left: 15px;
    right: 15px;
}

.openPage-gettingStarted-document:after {
    content: '';
    position: absolute;
    border-top: 3px solid #858585;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

.openPage-gettingStarted-documentName {
    font-size: 14px;
    max-width: 15ch;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 36%;
    flex-grow: 1;
}

@media screen and (min-width: 768px) {
    .openPage-gettingStarted-documentName {
        font-size: 16px;
    }
}

.openPage-gettingStarted-documentFineprint {
    font-size: 12px;
    padding-bottom: 8px;
}

.openPage-gettingStarted-document:first-child {
    margin-right: 16px;
}

.openPage-gettingStarted-ctas {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: flex-start;
    padding: 36px 0;
}

@media screen and (max-width: 768px) {
    .openPage-gettingStarted-ctas>*:last-child {
        margin-top: 16px;
        margin-left: 0 !important;
    }
}

.openPage-gettingStarted-firstSteps {
    margin: 8px 0;
}

@media screen and (min-width: 768px) {
    .openPage-gettingStarted {
        padding: 16px 32px;
    }

    .openPage-gettingStarted-ctas {
        flex-direction: row;
    }

    .openPage-gettingStarted-firstSteps {
        font-size: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .openPage-gettingStarted {
        grid-column: 9/13;
    }
}

/*************************************************
 PRODUCT SPOTLIGHT
 ************************************************/

.openPage-spotlight {
    background-color: #4B4B4B;
    position: relative;
    overflow: hidden;
    padding: 48px 0;
}

.openPage-spotlight-content {
    position: relative;
}

.openPage-spotlight-content:before,
.openPage-spotlight-content:after {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
}

.openPage-spotlight-content:before {
    left: -30px;
    top: -160px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='838.08' height='426'%3E%3Cpath data-name='Path 36044' d='M838.08 0A489.52 489.52 0 0 1 697 283.29C504.08 474.6 192.72 473.3.81 280.99l-.81-.82L186.35 93.83l1.17 1.17c88.82 91.05 234.56 91.65 324.87 2.1A229.43 229.43 0 0 0 570.79 0z' fill='%232c2c2c'/%3E%3C/svg%3E");
    background-position: top center;
    background-size: contain;
    height: 426px;
    width: 800px;
}

.openPage-spotlight-content:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1625.35' height='453.39'%3E%3Cpath data-name='Path 36045' d='M430.24 453.4H0c24.04-96.44 111.24-167.9 215.12-167.9s191.08 71.45 215.12 167.9z' fill='%236b6b6b'/%3E%3Cpath data-name='Path 36046' d='M1625.35 84.04v289.32c-81.84 0-126.63-37.5-156.27-62.32-21.81-18.3-26.52-21.75-44.48-21.75-18.02 0-22.73 3.46-44.52 21.75-29.67 24.81-74.46 62.32-156.3 62.32s-126.6-37.5-156.27-62.32c-21.84-18.3-26.52-21.75-44.54-21.75-17.99 0-22.67 3.46-44.51 21.75-29.65 24.81-74.47 62.32-156.3 62.32s-126.63-37.5-156.28-62.32c-21.8-18.3-26.49-21.75-44.48-21.75-1.8 0-3.49.03-5.05.12V.1Q618.83 0 621.4 0C703.18 0 748 37.54 777.64 62.32c21.85 18.3 26.53 21.72 44.52 21.72 18.01 0 22.7-3.42 44.54-21.72C896.37 37.48 941.13 0 1022.97 0s126.66 37.48 156.3 62.32c21.84 18.3 26.52 21.72 44.51 21.72 18.02 0 22.67-3.42 44.52-21.69C1297.94 37.55 1342.76 0 1424.6 0c81.77 0 126.6 37.54 156.24 62.32 21.84 18.3 26.52 21.72 44.51 21.72z' fill='%232c2c2c'/%3E%3C/svg%3E");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 1600px 400px;
    width: 1600px;
    height: 400px;
    bottom: -170px;
    left: 80px;
}

.openPage-spotlight-info {
    margin: 0 0 64px;
}

@media screen and (min-width: 1080px) {
    .openPage-spotlight-info {
        margin: 0;
    }
}

.openPage-spotlight-infoHeader {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.openPage-spotlight-infoDesc {
    font-size: 20px;
    margin-top: -10px;
}

.openPage-spotlight-infoCTAs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 767px) {
    .openPage-spotlight-infoCTAs>* {
        margin-bottom: 16px;
        margin-left: 0 !important;
    }
}

@media screen and (min-width: 768px) {
    .openPage-spotlight {
        padding: 160px 0 170px;
    }

    .openPage-spotlight-infoHeader {
        font-size: 28px;
    }

    .openPage-spotlight-infoCTAs {
        flex-direction: row;
    }
}

.openPage-spotlight .openPage-spotlight-details {
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 75ch;
}

.openPage-spotlight-header {
    font-family: var(--serifFont);
    font-size: 28px;
    margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
    .openPage-spotlight-header {
        font-size: 36px;
    }
}

.openPage-spotlight-info {
    position: relative;
}

.openPage-spotlight-info h1 {
    font-size: 24px;
}

.openPage-spotlight-info p {
    font-size: 20px;
    font-weight: 100;
}

.openPage-spotlight-details,
.openPage-spotlight-carousel {
    position: relative;
    z-index: 1;
    grid-column: 1/13;
}

.openPage-spotlight-carousel {
    background: transparent;
}

.openPage-spotlight-carouselItemGroup {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

@media screen and (min-width: 1080px) {
    .openPage-spotlight-details {
        grid-column: 1/5;
    }

    .openPage-spotlight-carousel {
        grid-column: 6/13;
    }
}

@media screen and (min-width: 1280px) {
    .openPage-spotlight-details {
        grid-column: 1/5;
    }

}

@media screen and (min-width: 1440px) {
    .openPage-spotlight-details {
        grid-column: 1/5;
    }
}

.openPage-spotlight-carouselItem {
    left: 0;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
    transition-property: left;
    transition-timing-function: cubic-bezier(0.45, 0, 0.40, 1);
    transition-duration: 500ms;
}

@media screen and (min-width: 768px) {
    .openPage-spotlight-carouselItem {
        flex-direction: row;
        min-height: 480px;
    }
}

.openPage-spotlight-carousel-nextBtn,
.openPage-spotlight-carousel-prevBtn {
    position: absolute;
    top: 80px;
    margin-top: -28px;
    z-index: 1;
}

.openPage-spotlight-carousel-nextBtn {
    right: -14px;
}

.openPage-spotlight-carousel-prevBtn {
    left: -14px;
}

@media screen and (min-width: 768px) {

    .openPage-spotlight-carousel-nextBtn,
    .openPage-spotlight-carousel-prevBtn {
        top: 50%;
    }

    .openPage-spotlight-carousel-nextBtn {
        right: -28px;
    }

    .openPage-spotlight-carousel-prevBtn {
        left: -28px;
    }
}

.openPage-spotlight-carousel-itemCount {
    position: absolute;
    top: -32px;
    right: 0;
}

@media screen and (min-width: 768px) {
    .openPage-spotlight-carousel-itemCount {
        top: auto;
        right: -48px;
        bottom: 20px;
        transform: rotate(90deg);
    }
}

.openPage-spotlight-carousel-indicators {
    position: absolute;
    top: -24px;
    left: 0;
}

@media screen and (min-width: 768px) {
    .openPage-spotlight-carousel-indicators {
        top: auto;
        left: auto;
        bottom: -32px;
        right: 0;
    }
}

.openPage-spotlight-carousel-indicators>* {}

.openPage-spotlight-carouselItem-image {
    height: 160px;
    flex-shrink: 0;
    background: #252525;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    .openPage-spotlight-carouselItem-image {
        width: 240px;
        height: auto;
    }
}

.openPage-spotlight-carouselItem-details {
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

@media screen and (min-width: 768px) {
    .openPage-spotlight-carouselItem-details {
        padding: 48px;
    }
}

.openPage-spotlight-carouselItem-header {
    margin-bottom: 16px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .openPage-spotlight-carouselItem-header {
        margin-bottom: 32px;
    }
}

.openPage-spotlight-carouselItem-logo {
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 767px) {
    .openPage-spotlight-carouselItem-logo {
        width: 48px;
        height: 48px;
    }
}

.openPage-spotlight-carouselItem-subtitle {
    color: #4B4B4B;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 0 60px;
    line-height: 48px;
}

@media screen and (min-width: 768px) {
    .openPage-spotlight-carouselItem-subtitle {
        line-height: 1.3;
        margin-left: 80px;
    }
}

.openPage-spotlight-carouselItem-title {
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0 0;
}

@media screen and (min-width: 768px) {
    .openPage-spotlight-carouselItem-title {
        font-size: 36px;
        margin: 0 0 0 80px;
        line-height: 1.2;
    }
}

.openPage-spotlight-carouselItem-description {
    min-height: 130px;
    margin-top: 0;
    margin-bottom: 24px;
}


@media screen and (min-width: 768px) {
    .openPage-spotlight-carouselItem-description {
        font-size: 18px;
    }
}

/*************************************************
 POPULAR CONTRIBUTIONS
 ************************************************/

.openPage-contributions {
    background: #F5F5F5;
    padding: 32px 16px;
}

@media screen and (min-width: 768px) {
    .openPage-contributions {
        padding: 80px 0;
        position: relative;
        z-index: 1;
    }
}

/*************************************************
 POPULAR PROJECTS
 ************************************************/

.openPage-popularProjects {
    position: relative;
}

.openPage-popularProjects-subHeader {
    margin-top: 0;
    margin-bottom: 48px;
}

.openPage-popularProjects:before {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-image: url(/static/pages/open/background-effects/textured-ring-1@2x.jpg);
    background-size: 844px 844px;
    width: 844px;
    height: 844px;
    right: 50px;
    top: 0;
    z-index: 0;
}

.openPage-popularProjects-intro,
.openPage-popularProjects-carousel {
    grid-column: 1/13;
    position: relative;
}

.openPage-popularProjects-carousel {
    padding-top: 0;
}

@media screen and (min-width: 768px) {

    .openPage-popularProjects-intro,
    .openPage-popularProjects-carousel {
        padding: 0;
    }

}

.openPage-popularProjects-projectInfo {
    min-height: 200px;
}

.openPage-popularProjects-projectName {
    margin-top: 0;
}

.openPage-popularProjects-projectDescription {
    color: #6E6E6E;
    margin-top: -12px;
}

.openPage-popularProjects-projectLogo {
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
}

.openPage-popularProjects-projectsGroup {
    display: flex;
    position: relative;
}

@media screen and (min-width: 768px) {
    .openPage-popularProjects-projectsGroup {
        flex-wrap: wrap;
    }

    .openPage-popularProjects-projectDescription {
        font-size: 16px;
    }

}

.openPage-popularProjects-projectContainer {
    left: 0;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
    position: relative;
    background: #fff;
    width: 100%;
    flex-shrink: 0;
    transition-property: left;
    transition-timing-function: cubic-bezier(0.45, 0, 0.40, 1);
    transition-duration: 500ms;
    padding: 30px;
}

.openPage-popularProjects-projectContainer {
    margin-right: 3%;
}

.openPage-popularProjects-projectContainer:last-child {
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    .openPage-popularProjects-projectsGroup {
        columns: 2;
    }

    .openPage-popularProjects-projectContainer {
        position: static;
        width: 48.5%;
        flex-shrink: 1;
        margin-bottom: 24px;
    }

    .openPage-popularProjects-projectContainer:nth-child(2) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1440px) {
    .openPage-popularProjects-projectsGroup {
        flex-wrap: nowrap;
    }

    .openPage-popularProjects-projectContainer,
    .openPage-popularProjects-projectContainer:nth-child(2) {
        margin-right: 32px;
    }
}

.openPage-popularProjects-projectLinks .spectrum-Link {
    display: block;
    background: #fff;
    padding: 16px 0;
    border-bottom: 1px solid #efefef;
    position: relative;
    font-weight: bold;
    color: #2C2C2C;
}

.openPage-popularProjects-projectLinks .spectrum-Link:first-child {
    border-top: 1px solid #efefef;
}

.openPage-popularProjects-projectLinks a:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.415' height='12'%3E%3Cpath data-name='Path 35886' d='M1.001 1l5 5-5 5' fill='none' stroke='%23323232' stroke-linecap='round' stroke-width='2'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    display: block;
    width: 7px;
    height: 12px;
    margin-top: -5px;
}

.openPage-popularProjects-projectHomepage {
    padding: 32px 0 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (min-width: 1024px) {
    .openPage-popularProjects-projectHomepage {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.openPage-popularProjects-projectStats {
    color: #6E6E6E;
    margin-bottom: 16px;
}

@media screen and (min-width: 1024px) {
    .openPage-popularProjects-projectStats {
        margin-bottom: 0;
    }
}

.openPage-popularProjects-projectStars,
.openPage-popularProjects-projectForks {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.502' height='10.667'%3E%3Cpath data-name='Path 35885' d='M5.91.105l1.42 3.659 4.013.185a.167.167 0 0 1 .151.113.161.161 0 0 1-.054.177L8.306 6.684l1.059 3.78a.161.161 0 0 1-.063.175.171.171 0 0 1-.191 0l-3.357-2.15-3.359 2.149a.171.171 0 0 1-.191 0 .161.161 0 0 1-.063-.175l1.06-3.781L.066 4.237a.161.161 0 0 1-.057-.179.167.167 0 0 1 .154-.113l4.013-.181L5.596.105a.17.17 0 0 1 .314 0z' fill='%236e6e6e'/%3E%3C/svg%3E");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    padding-left: 16px;
    margin-right: 16px;
}

.openPage-popularProjects-projectForks {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.174' height='14.244'%3E%3Cpath data-name='Path 35884' d='M10.174 4.07a2.034 2.034 0 1 0-3.052 1.75v.305a2.048 2.048 0 0 1-.641 1.4 2.048 2.048 0 0 1-1.4.641 4.33 4.33 0 0 0-2.035.458V3.785a2.03 2.03 0 1 0-2.025 0v6.674A2.048 2.048 0 0 0 0 12.209a2.035 2.035 0 1 0 3.53-1.384c.092-.061.488-.417.6-.478a2.364 2.364 0 0 1 .956-.173A4.084 4.084 0 0 0 7.885 8.9a4.765 4.765 0 0 0 1.272-3.07h-.02a2.053 2.053 0 0 0 1.037-1.76zM2.035.814a1.221 1.221 0 1 1 0 2.442A1.238 1.238 0 0 1 .814 2.035 1.238 1.238 0 0 1 2.035.814zm0 12.626a1.221 1.221 0 1 1 0-2.442 1.221 1.221 0 1 1 0 2.442zM8.139 5.3A1.221 1.221 0 1 1 9.36 4.08 1.231 1.231 0 0 1 8.139 5.3z' fill='%236e6e6e'/%3E%3C/svg%3E");
    background-size: 10px 14px;
    padding-left: 14px;
}

@media screen and (min-width: 768px) {

    .openPage-popularProjects {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.openPage-popularProjects-carousel-nextBtn,
.openPage-popularProjects-carousel-prevBtn {
    position: absolute;
    top: 50%;
    margin-top: -28px;
    z-index: 1;
}

.openPage-popularProjects-carousel-nextBtn {
    right: -28px;
}

.openPage-popularProjects-carousel-prevBtn {
    left: -28px;
}

.openPage-popularProjects-carousel-itemCount {
    position: absolute;
    top: -156px;
    right: 0;
    color: #4B4B4B;
}

.openPage-popularProjects-carousel-indicators {
    position: absolute;
    top: -150px;
    left: 0;
}

.openPage-popularProjects-carousel-indicators>* {
    border: 1px solid #4B4B4B;
}

.openPage-popularProjects-carousel-indicators .selected {
    background: #4B4B4B;
}

@media screen and (min-width: 768px) {
    .openPage-popularProjects-carousel .openPage-carouselUI {
        display: none;
    }
}


/*************************************************
 STANDARDS UNIT
 ************************************************/

.openPage-standards {
    position: relative;
    background: transparent;
    margin: 80px 0;
}

.openPage-standards:before {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-image: url(/static/shared/design-elements/dot-matrix.svg);
    width: 228px;
    height: 626px;
    bottom: -340px;
    right: -160px;
}

@media screen and (min-width: 768px) {
    .openPage-standards {}
}

.openPage-standards-header {
    margin-top: 0;
}

.openPage-standards-intro {
    grid-column: 1/13;
    margin-bottom: 32px;
}

.openPage-standards-intro p {
    font-size: 22px;
    max-width: 48ch;
    padding-right: 16px;
}

@media screen and (min-width: 1280px) {
    .openPage-standards-intro {
        grid-column: 1/4;
    }

    .openPage-standards-intro p {
        font-size: 25px;
    }
}


.openPage-standards-formatGroup {
    grid-column: 1/13;
}

@media screen and (min-width: 768px) {
    .openPage-standards-formatGroup {
        flex-wrap: wrap;
        display: flex;
    }

    .openPage-standards-format {
        width: 33%;
    }
}

@media screen and (min-width: 1280px) {
    .openPage-standards-formatGroup {
        grid-column: 4/13;
    }
}

@media screen and (min-width: 1320px) {
    .openPage-standards-format {
        width: 16.66%;
    }
}

.openPage-standards-format {
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
    position: relative;
}

.openPage-standards-format:before {
    content: '';
    position: absolute;
    top: 0;
    left: 44px;
    height: 100%;
    border-left: 1px solid #EAEAEA;
    z-index: 0;
}

.openPage-standards-format:last-child:before {
    display: none;
}

@media screen and (min-width: 768px) {
    .openPage-standards-format {
        flex-direction: column;
        padding-right: 24px;
    }

    .openPage-standards-format:before {
        content: '';
        position: absolute;
        top: 64px;
        width: 100%;
        height: 0;
        border-left: none;
        border-top: 1px solid #EAEAEA;
        z-index: 0;
    }
}

.openPage-standards-formatDetails {
    padding-left: 12px;
    padding-top: 24px;
}

.openPage-standards-formatDate {
    position: relative;
    z-index: 1;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-family: var(--serifFont);
    width: 88px;
    height: 88px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    color: #707070;
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
}

@media screen and (min-width: 768px) {
    .openPage-standards-formatDate {
        width: 128px;
        height: 128px;
    }
}

.openPage-standards-formatAcronym {
    font-family: var(--serifFont);
    font-style: italic;
    font-size: 33px;
    font-weight: 400;
    margin: -8px 0 0;
}

.openPage-standards-formatFullname {
    font-weight: 500;
    margin: 0;
}

.openPage-standards-formatDescription {
    margin: 8px 0;
    color: #707070;
}

/*************************************************
 PARTNERS UNIT
 ************************************************/

.openPage-partners {
    background: #EAEAEA;
    position: relative;
    padding: 48px 0;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .openPage-partners {
        padding: 100px 0;
    }
}

.openPage-partners-backgroundEffects {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.openPage-partners-backgroundEffects:before,
.openPage-partners-backgroundEffects:after {
    position: absolute;
    content: '';
    display: block;
}

.openPage-partners-backgroundEffects:before {
    background-image: url(/static/pages/open/background-effects/textured-ring-2@2x.jpg);
    background-size: 620px 310px;
    width: 620px;
    height: 310px;
    right: -310px;
    top: 0;
    background-repeat: repeat-x;
}

.openPage-partners-backgroundEffects:after {
    background-image: url(/static/shared/design-elements/dot-matrix-small.svg);
    width: 308px;
    height: 79px;
    bottom: 30px;
    left: 30px;
    background-repeat: no-repeat;
}

.openPage-partners-container {
    position: relative;
    z-index: 1;
}

.openPage-partners h1 {
    margin-top: 0;
    margin-bottom: 48px;
    grid-column: 1/13;
}

.openPage-partnerItem {
    grid-column-end: span 6;
    margin-bottom: 24px;
    margin-right: 24px;
}

@media screen and (min-width: 768px) {
    .openPage-partnerItem {
        grid-column-end: span 3;
        margin-top: 40px;
    }
}

/*************************************************
 BLOG UNIT
 ************************************************/

.openPage-blog {
    padding: 24px 0;
}

@media screen and (min-width: 1280px) {
    .openPage-blog {
        padding: 100px 0;
    }
}

.openPage-blog-header {
    position: relative;
    grid-column: 1/13;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.openPage-blog-header i {
    display: inline-block;
}

.openPage-blog-header:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100px;
    background: #2D2D2D;
}

.openPage-blog-latest {
    grid-column: 1/13;
    margin: 32px 0 16px;
    font-weight: 400;
}

.openPage-blog-heroPost {
    grid-column: 1/13;
}

.openPage-blog-heroPost .openPage-blog-postAbstract {
    padding: 16px;
    border-radius: 4px;
    min-height: 82%;
}

@media screen and (max-width: 900px) and (max-height: 900px) {
    .openPage-blog-heroPost .openPage-blog-postAbstract {
        min-height: 70vh;
    }
}

.openPage-blog-heroPost .openPage-blog-postMetadata {
    padding-bottom: 4px;
    border-bottom: 2px solid #fff;
}

.openPage-blog-heroCaption {
    margin-bottom: 48px;
}

@media screen and (min-width: 1280px) {
    .openPage-blog-heroPost .openPage-blog-postAbstract {
        padding: 24px;
    }

    .openPage-blog-heroPost .openPage-blog-postMetadata {
        padding-bottom: 10px;
    }
}

.openPage-blog-otherPosts {
    grid-column: 1/13;
    margin-top: 24px;
}

.openPage-blog-postAbstract {
    display: block;
    text-decoration: none;
    padding: 20px 4px;
}

.openPage-blog-heroPost .openPage-blog-postAbstract {
    display: flex;
    flex-direction: column;
}

.openPage-blog-otherPosts .openPage-blog-postAbstract {
    border-top: 1px solid #EAEAEA;
}

.openPage-blog-otherPosts .openPage-blog-postAbstract:last-child {
    border-bottom: 1px solid #EAEAEA;
}

.openPage-blog-postMetadata {
    font-size: 13px;
    margin-bottom: 16px;
}

.openPage-blog-postMetadata>* {
    margin-right: 16px;
}

.openPage-blog-postAuthor {
    font-weight: 600;
}

.openPage-blog-otherPosts {
    background: transparent;
}

.openPage-blog-otherPosts .openPage-blog-postMetadata {
    color: #6E6E6E;
}

.openPage-blog-otherPosts .openPage-blog-postAuthor {
    color: #2D2D2D;
}

.openPage-blog-otherPosts .openPage-blog-postTitle {
    font-family: var(--serifFont);
    font-size: 19px;
    color: #2C2C2C;
    margin-bottom: 8px;
    margin-top: 8px;
}

.openPage-blog-otherPosts .openPage-blog-postCaption {
    color: #2C2C2C;
    margin-top: 0;
    margin-bottom: 4px;
}

.openPage-blog-postCaption {
    max-width: 60ch;
}

.openPage-blog-heroCaption {
    flex-grow: 1;
}

.openPage-blog-heroLink {
    align-self: flex-end;
}

.openPage-blog-mediumLink {
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.openPage-blog-mediumLink>* {
    flex-shrink: 0;
    margin: 48px 24px 24px 0;
}

@media screen and (min-width: 1280px) {

    .openPage-blog-heroPost {
        grid-column: 1/5;
    }

    .openPage-blog-heroCaption {
        font-size: 20px;
    }

    .openPage-blog-otherPosts {
        grid-column: 6/13;
        margin-top: 0;
    }

    .openPage-blog-postAbstract {
        margin-bottom: 0;
        overflow: hidden;
    }

    .openPage-blog-otherPosts .openPage-blog-postTitle {
        font-size: 36px;
        margin-top: 6px;
    }

    .openPage-blog-otherPosts .openPage-blog-postCaption {
        font-size: 18px;
    }

}