#footer {
    padding: 25px;
    margin: 0 -8px;
    background-color: black;
}

#footer > svg#dark_logo {
    max-width: 25px;
    max-height: 25px;
    margin-bottom: 10px;
}

#footer .spectrum-Accordion svg.spectrum-Icon {
    width: 10px;
    height: 12px;
}
