body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

figure {
  margin: 0;
}

figure img {
  max-width: 100%;
  vertical-align: top;
}

img {
  max-width: 100%;
}

/*
 * Prevent browser from using system font etc. there
 */
 input,
 select,
 textarea,
 button {
     font: inherit;
 }
 