.container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.section {
    padding: 70px 20px 20px 20px;
}

.li-no-margin-bottom {
    margin-bottom: 0;
}

.index0 input#search-input {
    padding-left: 30px;
    width: 100%;
}
.index0 .spectrum-DecoratedTextfield {
    display: inherit;
}
.index0 svg {
    left: 7px;
}

.index1 p:first-child {
    display:flex;
    align-items:center;
}
.index1 p:first-child img {
    width:15%;
}
.index1 p:first-child code {
    margin: 0 15px;
}

.index1 p {
    padding-bottom:10px;
    padding-top:10px;
}

.index3 p:first-child {
    display:flex;
    align-items:center;
}
.index3 p:first-child img {
    width:15%;
}
.index3 p:first-child code {
    margin: 0 15px;
}

.index4 {
    background-color:#EFEFEF;

}

.search-control {
    padding-top:20px;
}
.search-bar {
    width:180%;
}

.removeStyle {
    display: inline-flex;
    padding: 0;
    list-style-type: none;
}

.button-read {
    background-color:white !important;
    border-color:white !important;
    color: #2C2C2C !important;
    margin-right:10px;
}
