/*
* Copyright 2018 Adobe. All rights reserved.
* This file is licensed to you under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License. You may obtain a copy
* of the License at http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software distributed under
* the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
* OF ANY KIND, either express or implied. See the License for the specific language
* governing permissions and limitations under the License.
*/

html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.content.collapsed {
    display: none;
}

@page {
    margin: 2cm 1cm;
}

/*
 * Prevent browser from using system font etc. there
 */
input,
select,
textarea,
button {
    font: inherit;
}

h2:before {
    content: " ";
    position: absolute;
    top: -32px;
    left: 0px;
    height: 1px;
    width: 100%;
}

img {
    max-width: 500px;
}

/*
 * HEADER
 */

header {
    -webkit-box-align: stretch;
    border-bottom: 1px solid #d4dadf;
    box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
    z-index: 20;
    display: flex;
    align-items: stretch;
    position: relative;
    flex: 0 80px;
    min-height: 80px;
    padding-left: 24px;
    padding-right: 24px;
}

header .main {
    -webkit-box-align: center;
    max-width: 1400px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    padding: 0;
    flex: auto;
}

header .main .title {
    display: block;
    margin: 0px;
    padding: 0px;
    flex: 0 0 auto;
}

header .main .title a {
    -webkit-box-align: center;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    align-items: center;
}

header .main .title a img {
    max-width: 100%;
    border-radius: 3px;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

header .main .title a h1 {
    display: block;
    margin: 0px;
    padding: 0px;
    padding-left: 16px;
}

header .main .center {
    display: flex;
    align-self: stretch;
    padding: 0px 8px;
    flex: 1 1 auto;
    overflow: auto;
    transition: -ms-flex 0.2s, -webkit-flex 0.2s, flex 0.2s, width 0.2s, opacity 0.2s;
    opacity: 1;
}

header .main .search {
    position: relative;
    margin-left: 16px;
    flex: 0 1 auto;
    max-width: 200px;
    min-width: 200px;
    transition: -ms-flex 0.2s, -webkit-flex 0.2s, flex 0.2s, width 0.2s;
}


/*
 * END OF HEADER
 */


.main {
    flex: 1;
    display: flex;
    align-items: stretch;
    transition: margin-bottom ease 200ms;
}

/**
 * NAV
 */

.nav {
    flex: 0 0 auto;
    display: none;
    flex-direction: column;
    align-items: stretch;
    width: calc((100% - 1448px) / 2 + 298px);
    min-width: 298px;
    padding-left: calc((100% - 1448px) / 2);
    border-right: 1px solid #e8eaed;
    margin-top: 32px;
}

 /**
 * CONTENT
 */

.content {
    flex: 1 1 auto;
    min-width: 0px;
    display: flex;
    position: relative;
}

.content-body {
    display: block;
    padding: 0px;
    flex: 1 1 auto;
    min-width: 0px;
    max-width: 100%;
    margin: 10px 20px;
    line-height: 1.5em;
}

.content-body .title-bar {
    -webkit-box-align: stretch;
    -webkit-box-pack: justify;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: stretch;
}

.content-body .title {
    display: block;
    margin: 0px;
    flex: 1 1 auto;
    border-bottom: 1px solid #E6ECF1;
    padding-bottom: 32px;
}

.content-body .title .author {
    display: block;
    margin: 0px;
    border-left: 2px solid rgb(236, 33, 0);
    padding: 0 16px;
}

.content-body .title .commits {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex: auto;
    align-items: center;
    margin-top: 8px;
}

.content-body .title .commits .committers {
    display: block;
    margin: 0px;
    padding: 0px;
    flex: 0 0 auto;
    margin-right: 8px;
}

/* TODO: probably need to tweak this to work well with spectrum*/
.content-body .title .author .commits {
    font-size: 12px;
    line-height: 1.625;
    font-weight: 400;
}

.content-body .title .author .commits img {
    max-width: 100%;
    overflow: hidden;
    border-radius: 128px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    z-index: 0;
    box-shadow: 0 0 0 2px #fff;
}

.content-body .title .commits .lastModified {
    display: none;
    padding-left: 8px;
    align-items: center;
}

.content-body .title .commits .lastModified.visible {
    display: initial;
}

.content-body .edit-container {
    flex:0 0 auto;
    display:flex;
    flex-direction:row;
    padding:16px 0;
    margin:0px -4px;
}

.toc {
    flex: 1 1 auto;
    width: 224px;
    min-width: 224px;
    display: flex;
    position: relative;
    padding: 40px 0;
}

.toc-body {
    padding-left:24px;
    border-left: 1px solid #e8eaed;
}

.toc-body ul {
    padding-inline-start: 0;
}

.toc-body ul li {
    margin-bottom: 8px;
    display: flex;
    list-style: none;
}

.level-H3 {
    padding-left: 24px;
}

/**
 * END OF CONTENT
 */

.search {
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #E6ECF1;
    background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="_13gjrqj"><g><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></g></svg>');
    background-repeat: no-repeat;
    background-position: 8px center;
    padding-left: 20px;
    max-width: 400px;
    display: none;
}

.searchinput {
    border: none;
    outline: none;
    margin: 0px;
    color: inherit;
    background: transparent;
    font: inherit;
    text-align: inherit;
    line-height: inherit;
    cursor: inherit;
    border-radius: 3px;
    box-sizing: border-box;
    height: 38px;
    padding: 0px 8px;
}

.menu-icon {
    display: inline-block;
    width: 1.28571429em;
    font-size: inherit;
    line-height: 1;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(0, 0, 0)"><rect y="0" width="100%" height="20%" rx="5%" ry="5%" /><rect y="40%" width="100%" height="20%" rx="5%" ry="5%" /><rect y="80%" width="100%" height="20%" rx="5%" ry="5%" /></svg>') center / 80% 80% no-repeat;

}

.menu-icon:before {
    content: "\000A0";
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 16px;
    border-spacing: 0;
    border-collapse: collapse;
}

table tr {
    border-top: 1px solid #c6cbd1;
}

table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    font-weight: 600;
}

table tr {
    border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
}

table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}


@media screen and (min-width: 900px) {
    /* desktop decorations */

    html,
    body {
        /* PERF: https://marco.org/2012/11/15/text-rendering-optimize-legibility */
        text-rendering: optimizeLegibility;
    }

    .edit-container {
        -webkit-box-align: baseline;
        -webkit-box-orient: horizontal;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .menu-icon {
        display: none;
    }

    .search {
        display: inline-block;
    }

    .nav {
        display: flex;
    }

    .content-body {
        margin: 30px 88px;
    }
}
