.navbar {
        font-size: 18px;
        /*border: 1px solid rgba(0, 0, 0, 0.2);*/
        padding-bottom: 10px;
        align-items: center;
}

.main-nav {
        list-style-type: none;
        padding-left: 20px;
        list-style-type: none;
        display: none;
}

.nav-links,
.logo {
        text-decoration: none;
        color: rgba(2, 2, 2, 0.7);
}
.logo {
        display: inline-block;
        font-size: 22px;
        margin: 0 auto;
        position:relative;
        top:10px;
}

.logo-text {
        width: 0;
        height: 0;
        overflow: hidden;
        font-size: 18px;
        font-weight: 700;
        color: #2d2d2d;
        position:relative;
        top: -4px;
        left: 8px;
}

.main-nav li {
        text-align: center;
        margin: 15px auto;
}

.navbar-logos {
        display:flex;
}

.navbar-toggle {
        position: absolute;
        left: 18px;
        top: 8px;
        cursor: pointer;
        color: rgba(5, 5, 5, 0.5);
        font-size: 24px;
}

.active {
        display: block;
}

@media screen and (min-width: 900px) {
        .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
        }
        .main-nav {
                display: flex;
                margin-right:auto;
                padding-left: 0px;
        }

        .main-nav li {
                margin: 0;
        }

        .nav-links {
                margin-left: 30px;
        }

        .first-nav {
                margin-left:0px;
        }

        .logo {
                margin-top: 0;
                padding-left:0;
        }

        .navbar-logos {
                margin-right:auto
        }

        .navbar-toggle {
                display: none;
        }
        .logo:hover,
        .nav-links:hover {
                /*color: rgba(255, 255, 255, 1);*/
        }
}
