/*************************************************
 PAGE BASELINES
 ************************************************/

.openPage {}

@media screen and (min-width: 768px) {
    .openPage {
        margin-top: 64px;
    }
}

.placeholder {
    height: 100px;
    width: 100%;
    background: linear-gradient(#333, #666)
}

.openPage .spectrum-Heading1--quiet,
.openPage .spectrum-Heading2--quiet {
    margin-top: 0;
}

/*************************************************
 HERO UNIT
 ************************************************/

.openPage-hero {
    max-width: 1280px;
    margin: 0;

}

.openPage-heroContainer {
    display: flex;
}

.openPage-hero-activity {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 320px;
    padding: 16px;
    padding: var(--spectrum-grid-outer-padding);
}

.openPage-hero-activity svg {
    opacity: 0.3;
}

.openPage-hero-content {
    max-width: 75ch;
    position: relative;
    padding: 16px;
}

@media screen and (min-width: 768px) {

    .openPage-hero {
        margin: 32px auto;
        padding: 16px;
        padding: var(--spectrum-grid-outer-padding);
    }

    .openPage-heroContainer {
        display: flex;
        overflow: visible;
        align-items: center;
    }

    .openPage-hero-activity {
        display: inline-block;
        z-index: 2;
        position: relative;
        left: -32px;
        top: -32px;
        left: calc(-1*var(--spectrum-grid-outer-padding));
        top: calc(-1*var(--spectrum-grid-outer-padding));
        border: 1px solid #fff;
        background: #000;
    }

    .openPage-hero-activity svg {
        opacity: 1.0;
    }

    .openPage-hero-content {
        padding: 32px;
        padding-left: 0;
    }

    .openPage-hero-content-ghLogo {
        display: inline-block;
        width: 48px;
        height: 48px;
    }

    .openPage-hero-content-ghLogo svg {
        width: 100%;
        height: 100%;
    }
}

/** Animate Hero Activity **/

@keyframes hideshow {
    0% { opacity: 0; }
    10% { opacity: 1; }
    20% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes waves1 {
    0% { transform: translate(-125%,-50px); }
    100% { transform: translate(125%,-50px); }
}

@keyframes waves2 {
    0% { transform: translate(-25%, 203px); }
    100% { transform: translate(125%, 203px); }
}

@keyframes waves1 {
    0% { transform: translate(-125%,-50px); }
    100% { transform: translate(125%,-50px); }
}

@keyframes triangle1 {
    0% { transform: translate(25%,0); }
    25% { transform: translate(25%,25%); }
    26% { transform: translate(25%,25%); }
    50% { transform: translate(50%,75%); }
    51% { transform: translate(50%,75%); }
    75% { transform: translate(5%,25%); }
    76% { transform: translate(5%,25%); }
    100% { transform: translate(25%,0); }
}

#Xes > * {
    opacity: 0;
    animation: hideshow 5s ease infinite;
}

#Waves1 {
    animation: waves1 15s ease infinite;
    animation-direction: alternate;
}

#Waves0 {
    animation: waves2 30s ease infinite;
    animation-direction: alternate-reverse;
}

#Triangles > * {
    animation: triangle1 60s linear infinite;
}

#Triangle0 { animation-delay: 0s; }
#Triangle1 { animation-delay: 15s; }
#Triangle2 { animation-delay: 30s; }
#Triangle3 { animation-delay: 60s; }

#X0 { animation-delay: 1s; animation-duration: 10s; }
#X1 { animation-delay: 2s }
#X2 { animation-delay: 3s }
#X3 { animation-delay: 4s }
#X4 { animation-delay: 5s }
#X5 { animation-delay: 6.3s }
#X6 { animation-delay: 7.1s }
#X7 { animation-delay: 8.5s }
#X8 { animation-delay: 4.3s; animation-duration: 5.5s; }
#X9 { animation-delay: 10s }



/*************************************************
 ORIENTATION UNIT
 ************************************************/

.openPage-orientation {
    position: relative;
    background: #E6E6E6;
    justify-content: center;
}

.openPage-orientation:before {
    content: '';
    background: #B6B6B6;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
}

.openPage-orientation-grid {}

/* Featured Repositories */

.openPage-featuredRepositories,
.openPage-popularRepositories,
.openPage-gettingStarted,
.openPage-testimonials {
    padding: 16px;
    background: #fff;
}

@media screen and (min-width: 768px) {

    .openPage-featuredRepositories,
    .openPage-popularRepositories,
    .openPage-gettingStarted,
    .openPage-testimonials {
        padding: 32px;
    }
}

/* Featured Repositories */

.openPage-featuredRepositories {
    grid-column: 1/7;
}

@media screen and (min-width: 768px) {
    .openPage-featuredRepositories {
        grid-column: 1/5;
    }
}

/* Popular Repositories */

.openPage-popularRepositories {
    grid-column: 7/13;
}

@media screen and (min-width: 768px) {
    .openPage-popularRepositories {
        grid-column: 5/9;
    }
}

/* Getting Started */

.openPage-gettingStarted {
    margin-top: 16px;
    grid-column: 1/13;
    text-align: center;
}

.openPage-gettingStarted .placeholder {
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .openPage-gettingStarted {
        margin-top: initial;
        grid-column: 9/13;
    }
}

/* Discover CTA */

.openPage-floatingDiscoverCTA {
    grid-column: 1/13;
    padding: 16px 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .openPage-floatingDiscoverCTA {
        text-align: right;
    }
}


/* Open Standards */

.openPage-standards {
    margin: 64px 0;
    grid-column: 1/13;
    --columns: 12;
    grid-column-start: 1;
    align-items: center;
}

.openPage-standards-intro {
    grid-column: 4/10;
    text-align: center;
}

.openPage-standards-itemGroup {
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 8px;
}

.openPage-standards-item {
    font-size: 24px;
    padding: 32px;
    background: #fff;
    flex-grow: 1;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .openPage-standards-intro {
        text-align: left;
        grid-column: 1/5;
    }

    .openPage-standards-itemGroup {
        grid-column: 5/13;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

/* Testimonials */

.openPage-testimonials {
    grid-column: 1/13;
    justify-content: center;
    align-content: center;
    padding: 16px;
    position: relative;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .openPage-testimonials {
        grid-column: 1/13;
        justify-content: center;
        align-content: center;
        padding: 32px;
    }
}

.openPage-testimonials:before {
    content: '“';
    font-size: 256px;
    font-weight: 200;
    color: #ccc;
    position: absolute;
    top: 128px;
    left: 32px;
    line-height: 0;
}

.openPage-testimonials:after {
    content: '”';
    font-size: 256px;
    font-weight: 200;
    color: #ccc;
    position: absolute;
    top: 128px;
    right: 32px;
    line-height: 0;
}

@media screen and (min-width: 768px) {
    .openPage-testimonials:after {
        top: auto;
        bottom: 16px;
    }
}

.openPage-testimonials-avatar {
    margin-top: 16px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.openPage-testimonials-quote {
    max-width: 60ch;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 200;
}

/*************************************************
 PARTNERS UNIT
 ************************************************/

.openPage-partners {
    background: #B6B6B6;
}

.openPage-partners-grid {
    justify-items: center;
    align-items: center;
}

.openPage-partnerItem {
    padding: 16px;
}

.openPage-partnerItem-1,
.openPage-partnerItem-4,
.openPage-partnerItem-7 {
    grid-column: 1/7;
}

.openPage-partnerItem-2,
.openPage-partnerItem-5,
.openPage-partnerItem-8 {
    grid-column: 7/13;
}

.openPage-partnerItem-3,
.openPage-partnerItem-6,
.openPage-partnerItem-9 {
    grid-column: 1/13;
}

@media screen and (min-width: 768px) {
    .openPage-partnerItem-1 {
        grid-column: 1/5;
    }

    .openPage-partnerItem-2 {
        grid-column: 5/9;
    }

    .openPage-partnerItem-3 {
        grid-column: 9/13;
    }

    .openPage-partnerItem-4 {
        grid-column: 3/7;
    }

    .openPage-partnerItem-5 {
        grid-column: 7/11;
    }

    .openPage-partnerItem-6 {
        grid-column: 1/4;
    }

    .openPage-partnerItem-7 {
        grid-column: 4/7;
    }

    .openPage-partnerItem-8 {
        grid-column: 7/10;
    }

    .openPage-partnerItem-9 {
        grid-column: 10/13;
    }
}

/*************************************************
 BLOG UNIT
 ************************************************/

.openPage-blog {
    background: #E6E6E6;
}

.openPage-blog-postAbstract {
    grid-column: 1/13;
    margin-bottom: 16px;
    background: #fff;
    padding: 32px;
}

@media screen and (min-width: 768px) {

    .openPage-blog-grid {
        grid-template-rows: repeat(23, 24px);
    }

    .openPage-blog-postAbstract {
        margin-bottom: 0;
        overflow: hidden;
    }

    .openPage-blog-heroPost {
        grid-column: 1/13;
        grid-row: 1/18;
    }

    .openPage-blog-secondPost {
        grid-column: 4/8;
        grid-row: 16/24;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    }

    .openPage-blog-thirdPost {
        grid-column: 8/12;
        grid-row: 14/22;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    }
}