.container {
    display: flex; 
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.section {
}

.index0 {
    background-color:#5B6474;
    color:#FFFFFF;
}

.index1 {

}

.index1 p img {
    width:5%;
}

.index2 {
    background-color:#2C2C2C;
    color: #F5F4F5;

}

.index3 {

}

.index4 {
    background-color:#EFEFEF;

}